<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harry Potter - Book Detail Page</title>
    <link rel="stylesheet" href="/Book Dream/css/book-filter.css" />
    <link rel="stylesheet" href="/Book Dream/css/style.css" />
    <!--- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Fontawesome Link for Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header>
      <nav class="navbar-2">
        <div class="logo">
          <div class="img">
            <a href="/"><img src="/Book Dream/images/logo1.png" alt="" /></a>
          </div>
          <div class="title">
            <h4>Book Dream<i class="fa-solid fa-grid"></i></h4>
            <small>Online bookstore</small>
          </div>
        </div>
        <!-- <div class="search-box">
          <div class="search-field">
            <input
              type="text"
              placeholder="Search over 30 million Book titles"
            />
            <button class="search-icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div> -->
        <div class="nav-end">
          <button class="likebtn">
            <i class="fa-regular fa-heart"></i> <span>35</span>
          </button>
          <button class="cart">
            <a href="cart-item.html"
              ><i class="fa-solid fa-cart-shopping"></i>
              <span id="number-of-product">0</span></a
            >
          </button>
          <div class="profile-img">
            <a id="profileButton" style="cursor: pointer"
              ><img src="/Book Dream/images/avatar.jpg" alt=""
            /></a>
          </div>
        </div>
      </nav>
    </header>
    <div class="breadcrumb-container">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a id="booksButton" style="color: #009bd6">Books</a></li>
        <li><a href="#"><%=book.title %></a></li>
      </ul>
    </div>

    <section class="book-overview">
      <div class="img">
        <img src="/Img/Books/<%=book.images[0] %>" alt="" />
      </div>
      <div class="book-content">
        <h4 id="book-title" data-id="<%=book.id %>"><%=book.title %></h4>
        <div class="meta">
          <div class="review">
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <span><%=book.ratings %></span>
            </div>
            <div class="comment-like">
              <small
                ><img src="../images/comment.png" alt="" />
                <span>256 Reviews</span></small
              >
              <small
                ><img src="../images/like.png" alt="" />
                <span>456k Likes</span></small
              >
            </div>
          </div>
          <div class="social-btn">
            <a href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a>
            <a href=""><i class="fa-brands fa-twitter"></i>Twitter</a>
            <a href=""><i class="fa-brands fa-whatsapp"></i>Whatsapp</a>
            <a href=""><i class="fa-regular fa-envelope"></i>Email</a>
          </div>
        </div>
        <p><%=book.summary %></p>
        <div class="footer">
          <div class="author-detail">
            <div class="author">
              <small>Written by</small>
              <strong><%=book.author %></strong>
            </div>
            <div class="publisher">
              <small>Publisher</small>
              <strong><%=book.publisher %></strong>
            </div>
            <div class="year">
              <small>Year</small>
              <strong><%=new Date(book.releaseDate).getFullYear() %></strong>
            </div>
          </div>
          <div class="badge">
            <span><i class="fa-solid fa-bolt-lightning"></i>free shipping</span>
            <span><i class="fa-solid fa-shield"></i>in stocks</span>
          </div>
        </div>
        <div class="book-price">
          <div class="price">
            <strong>$<%=book.price %></strong>
            <!-- <strike>$16.99</strike> -->
            <!-- <span>2%</span> -->
          </div>
          <div class="input-group">
            <div class="quantity">
              <input
                type="button"
                value="-"
                class="button-minus"
                data-field="quantity"
              />
              <input
                type="number"
                step="1"
                min="1"
                value="1"
                id="input-quantity"
                name="quantity"
                class="quantity-field"
                style="width: 4.5rem"
              />
              <input
                type="button"
                value="+"
                class="button-plus"
                data-field="quantity"
              />
            </div>
            <button class="cartbtn" id="add-to-card">
              <i class="fa-solid fa-cart-shopping"></i>Add to Cart
            </button>
            <button class="like"><i class="fa-regular fa-heart"></i></button>
          </div>
        </div>
      </div>
    </section>
    <section class="book-info">
      <div class="detail-customer">
        <div class="tabbtns">
          <button class="tablink" data-btn="detail">Details Product</button>
          <button class="tablink" data-btn="customer">Customer Reviews</button>
        </div>
        <div class="book-detail tabcontent" id="detail">
          <div class="detail-line">
            <strong>Book Title</strong><span><%=book.title %></span>
          </div>
          <div class="detail-line">
            <strong>Author</strong><span><%=book.author %></span>
          </div>
          <div class="detail-line">
            <strong>ISBN</strong><span>121341381648(ISBN13: 121341381648)</span>
          </div>
          <div class="detail-line">
            <strong>Edition Language</strong><span><%=book.language %></span>
          </div>
          <div class="detail-line">
            <strong>Book Format</strong
            ><span>Paperback, <%=book.totalPages %> Pages</span>
          </div>
          <div class="detail-line">
            <strong>Date Published</strong
            ><span><%=new Date(book.releaseDate).toDateString() %></span>
          </div>
          <div class="detail-line">
            <strong>Publisher</strong><span><%=book.publisher %></span>
          </div>
          <div class="detail-line tag-line">
            <strong>Tags</strong>
            <div class="tags">
              <% for (var cate of book.category) { %>
              <span><%= cate %></span>
              <% } %>
            </div>
          </div>
        </div>
        <div class="customer-review tabcontent" id="customer">
          <div class="rating">
            <div class="rating-info">
              <h5>Rating Information</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
                dolore, repudiandae sint omnis ipsum quae doloribus
                reprehenderit saepe veniam repellat.
              </p>
            </div>
            <div class="star">
              <small><span>4.7</span>out of 5</small>
              <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <strong>Showing 4 of 20 reviews</strong>
          <div class="reviewer-container">
            <div class="review">
              <div class="img-detail">
                <img src="../images/man1.png" alt="" />
                <div class="name">
                  <h5>David Here</h5>
                  <small>Jan 4th, 2020</small>
                </div>
              </div>
              <div class="review-footer">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Voluptatem porro similique et expedita atque. Rerum facilis
                  nobis voluptates dolore. Tenetur, corporis consequatur veniam
                  obcaecati illo quibusdam! Eveniet in iure quis?
                </p>
                <div class="rating-star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>4.0</span>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="img-detail">
                <img src="../images/man1.png" alt="" />
                <div class="name">
                  <h5>David Here</h5>
                  <small>Jan 4th, 2020</small>
                </div>
              </div>
              <div class="review-footer">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Voluptatem porro similique et expedita atque. Rerum facilis
                  nobis voluptates dolore. Tenetur, corporis consequatur veniam
                  obcaecati illo quibusdam! Eveniet in iure quis?
                </p>
                <div class="rating-star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>4.0</span>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="img-detail">
                <img src="../images/man1.png" alt="" />
                <div class="name">
                  <h5>David Here</h5>
                  <small>Jan 4th, 2020</small>
                </div>
              </div>
              <div class="review-footer">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Voluptatem porro similique et expedita atque. Rerum facilis
                  nobis voluptates dolore. Tenetur, corporis consequatur veniam
                  obcaecati illo quibusdam! Eveniet in iure quis?
                </p>
                <div class="rating-star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>4.0</span>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="img-detail">
                <img src="../images/man1.png" alt="" />
                <div class="name">
                  <h5>David Here</h5>
                  <small>Jan 4th, 2020</small>
                </div>
              </div>
              <div class="review-footer">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Voluptatem porro similique et expedita atque. Rerum facilis
                  nobis voluptates dolore. Tenetur, corporis consequatur veniam
                  obcaecati illo quibusdam! Eveniet in iure quis?
                </p>
                <div class="rating-star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <span>4.0</span>
                </div>
              </div>
            </div>
            <button>View More</button>
          </div>
        </div>
      </div>
    </section>

    <section class="subscription">
      <div class="container">
        <h4>
          Subscribe our newsletter for Latest <br />
          books updates
        </h4>
      </div>
      <div class="circle-1"></div>
      <div class="circle-2"></div>
    </section>

    <footer>
      <div class="container">
        <div class="logo-description">
          <div class="logo">
            <div class="img">
              <img src="/Book Dream/images/logo1.png" alt="" />
            </div>
            <div class="title">
              <h4>Book Dream</h4>
              <small>Online bookstore</small>
            </div>
          </div>
          <div class="logo-body">
            <p>
              Thank you for choosing our website to buy books. Hope you choose
              your dream book
            </p>
          </div>
          <div class="social-links">
            <h4>Follow Us</h4>
            <ul class="links">
              <li>
                <a href="https://www.facebook.com/anderswinchester"
                  ><i class="fa-brands fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="categories list">
          <h4>Developers</h4>
          <ul>
            <li>
              <a href="https://www.facebook.com/anderswinchester"
                >Đỗ Lập Trường Vũ</a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100013200197695"
                >Tăng Quốc Tuấn</a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/Urlgrim">Lương Anh Tuấn</a>
            </li>
          </ul>
        </div>
        <div class="quick-links list">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Cart</a></li>
            <li><a href="">Checkout</a></li>
          </ul>
        </div>
        <div class="our-store list">
          <h4>Our Store</h4>
          <div class="map" style="margin-top: 1rem">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.9527212788825!2d106.61873322077284!3d10.7926501317974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752d30443d946b%3A0x51e2e88da8981c4a!2zQ8OUTkcgVFkgVE5ISCBUSMavxqBORyBN4bqgSSBE4buKQ0ggVuG7pCBUUlVZ4buATiBUSMOUTkcgU01BUlQgVEnhur5OIFBIw4FU!5e0!3m2!1sen!2s!4v1713245877633!5m2!1sen!2s"
              height="70"
              style="width: 100%; border: none; border-radius: 5px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <ul>
            <li>
              <a href=""
                ><i class="fa-solid fa-location-dot"></i>69/9 Lê Sát P.Tân Quý,
                Q. Tân Phú</a
              >
            </li>
            <li>
              <a href=""><i class="fa-solid fa-phone"></i>+84 123456789</a>
            </li>
            <li>
              <a href=""
                ><i class="fa-solid fa-envelope"></i>support@bookdream.id</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <button class="back-to-top"><i class="fa-solid fa-chevron-up"></i></button>

    <script>
      const tabbtn = document.querySelectorAll(".tablink");
      for (let i = 0; i < tabbtn.length; i++) {
        tabbtn[i].addEventListener("click", () => {
          let tabName = tabbtn[i].dataset.btn;
          let tabContent = document.getElementById(tabName);
          let AllTabContent = document.querySelectorAll(".tabcontent");
          let tabbtns = document.querySelectorAll(".tablink");
          for (let j = 0; j < AllTabContent.length; j++) {
            AllTabContent[j].style.display = "none";
          }
          tabContent.style.display = "block";
        });
      }
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- <script src="/Book Dream/js/repeat-js.js"></script> -->
    <script src="/Book Dream/js/increment-decrement.js"></script>
    <script src="/Book Dream/js/back-to-top.js"></script>
    <script>
      document
        .getElementById("profileButton")
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.assign("/profile");
        });

      document
        .getElementById("booksButton")
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.assign("/filter");
        });
    </script>
  </body>
</html>
